<head>
  <link href="/assets/styling/style.css" rel="stylesheet" tpye="text/css" />
  <title>Cypress code</title>
</head>
<body>
  <%- include('header/nav'); %>
  <h1>Cypress code</h1>
  <h3>Title: '<%= data.title %>'</h3>
  <textarea readonly><%= code %></textarea>
</body>
