<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/styling/style.css" rel="stylesheet" type="text/css" />
  <title>Cypress Runner</title>
</head>
<body>
  <%- include('header/nav'); %>
  <h1>Cypress Runner</h1>
</body>
</html>